<!-- MENU BAR -->
<nav class='navbar navbar-expand-lg'>
    <div class='container'>
        <div class='logos'>
            <a class='navbar-brand' href='/'>
                <img
                    src='https://zuri.team/img/zuri-logo-full.svg'
                    alt='logo'
                />
            </a>
            <a class='navbar-brand' href='/'>
                <img
                    src='https://ingressive.org/wp-content/uploads/2020/05/I4G-Logo-Color-Cropped.png'
                    alt='logo'
                />
            </a>
        </div>

        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>
                    <a href='#about' class='nav-link smoothScroll'>About</a>
                </li>
                <li class='nav-item'>
                    <a
                        href='#project'
                        class='nav-link smoothScroll'
                    >Experience</a>
                </li>
                <li class='nav-item'>
                    <a
                        href='/following'
                        class='nav-link smoothScroll'
                    >Following</a>
                </li>
                <li class='nav-item'>
                    <a href='#contact' class='nav-link contact'>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>